appdirs
boto
boto3
botocore
bz2file
certifi
chardet
cycler
Django==2.2.13
django-extensions
docutils
gensim
idna
jmespath
kiwisolver
matplotlib
numpy
nltk
pandas
packaging
pyparsing
python-dateutil
pytz
requests
s3transfer
scipy
seaborn
six
sklearn
smart-open
stop-words
tqdm
urllib3
pyLDAvis
psycopg2-binary==2.8.6
django-cors-headers
sentence_transformers
surprise